[tool.poetry]
name = "gtfs_kit"
version = "2.2.0"
description = "A Python 3.6+ library for analyzing GTFS feeds."
authors = ["Alex Raichev <araichev@mrcagney.com>"]
readme = "README.rst"
license = "MIT"
repository = "https://github.com/mrcagney/gtfs_kit"
documentation = "https://mrcagney.github.io/gtfs_kit_docs"
exclude = ["tests", "docs"]

[tool.poetry.dependencies]
python = "^3.6 || ^3.7"
pandas = "<1"
shapely = "<2"
pycountry = "^18.5"
utm = "<1"
json2table = "^1.1"
geopandas = "<1"
rtree = "<1"
folium = "<1"

[tool.poetry.dev-dependencies]
jupyter = "<2"
pytest = "^4.0"
sphinx = "<2"
pre-commit = "<2"
black = "=19.3b0"
publish_sphinx_docs = "^1.0"
matplotlib = "^3.0"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

