[tool.poetry]
name = "gtfs_kit"
version = "5.2.7"
description = "A Python 3.8+ library for analyzing GTFS feeds."
authors = ["Alex Raichev <araichev@mrcagney.com>"]
readme = "README.rst"
license = "MIT"
repository = "https://github.com/mrcagney/gtfs_kit"
documentation = "https://mrcagney.github.io/gtfs_kit_docs"
exclude = ["tests", "docs"]

[tool.poetry.dependencies]
python = ">=3.8, <4"
pandas = ">=1"
shapely = ">=1.8"
pycountry = ">=19"
utm = ">=0.6"
json2html = ">=1"
geopandas = ">=0"
rtree = ">=0"
folium = ">=0"
requests = ">=2"

[tool.poetry.group.dev.dependencies]
jupyter = ">=1"
pytest = ">=6"
sphinx = ">=3"
pre-commit = ">=0"
matplotlib = ">=1"
pytest-socket = ">=0"
black = ">22"
nbstripout = ">=0.5"
ruff = ">=0.0.257"
publish_sphinx_docs = ">=1.0"

[build-system]
requires = ["poetry>=1"]
build-backend = "poetry.masonry.api"

[tool.pytest.ini_options]
markers = [
    "slow: marks tests as slow (deselect with '-m \"not slow\"')",
    "serial",
]

[tool.ruff]
# Enable pycodestyle (`E`) and Pyflakes (`F`) codes by default.
select = ["E", "F"]
ignore = ["E501", "F401", "F403"]